# Dependências
node_modules/

# Build
dist/

# Cache
.vite/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.production

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Cobertura de testes
coverage/